.main-content-home ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.main-content-home__title {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 10px 0;
}

.main-content-home__title h3 {
    margin: 0;
    font-size: 2rem;
    margin-left: 8px;
}

.main-content-home__title svg {
    font-size: 1.8rem;
}

.comic-list a{
    text-decoration: none;
    color: var(--black-color);
}

.comic-thumbnail img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    max-width: 180px;
    object-fit: cover;
}

.comic-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    & h3 {
        margin: 0;
    }

    & h3 a {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* Số dòng tối đa */
        overflow: hidden;
        margin: 6px 0;
        line-height: 2.2rem;

        &:hover {
            color: var(--primary-color);
        }
    }

    & p a {
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.next-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-page__btn {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    background: var(--primary-color);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 25%);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    text-decoration: none;
}