.footer {
    border-top: 5px solid var(--primary-color);
}

.div-middle {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer {

}

.left-footer-logo {
}

.left-footer-logo__img {
    width: 40px;
    height: 40px;
}

.left-footer-logo__title {
    height: 40px;
}

.left-footer-content {

}

.right-footer {

}

.link-list {

}

.link-item {

}
